html,body{
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  Height: 100%;
}

h1 {
font size: 48px;
text-align: center;
}

h3 {
font-size: 24px;
text-align: center;
}

p {
max-width: 50%;
min-width: 500px;
text-align: center;
}
